@import './fonts.scss';

.some-class {
  color: red;
  font-family: 'ArcherMedium', sans-serif;
  background: url('./img/mario.png') no-repeat center;
  background-size: contain;
}

input::placeholder {
  color: gray;
}


.pdp__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
  }
}
